.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(196, 143, 196);
  border: dashed purple 3px;
}

a {
  color: rgb(136, 97, 0);
  background-color: palevioletred;
  font-weight: 700;
  text-decoration: none;
  height: 24px;
  border-radius: 20px;
  padding: 4px;
}

a:hover {
  background-color: paleturquoise;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: plum;
  color: rgb(136, 97, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

a {
  color: slategray;
}
